<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="hk.hku.cecid.piazza.corvus.core.main.admin"
   name="Corvus Main System Admin Plugin"
   version="${build-date}"
   provider-name="hk.hku.cecid"
   class="hk.hku.cecid.piazza.corvus.core.main.admin.AdminMainProcessor"
>

	<parameters>
		<parameter name="module-group-descriptor" value="hk/hku/cecid/piazza/corvus/core/main/admin/conf/admin.module-group.xml"/>
	</parameters>

	<runtime>
		<library name="corvus-main-admin.jar"/>
		<library name="qrcodegen.jar"/>
		<library name="conf/"/>
	</runtime>

	<requires>
		<import plugin="hk.hku.cecid.piazza.corvus.admin" />
		<import plugin="hk.hku.cecid.edi.as2"/>
		<import plugin="hk.hku.cecid.edi.as2plus"/>
		<import plugin="hk.hku.cecid.ebms"/>
		<import plugin="hk.hku.cecid.edi.sfrm"/>
	</requires>
	
	<extension point="hk.hku.cecid.piazza.corvus.admin.httpd.listener" name="JVM Properties Pagelet Adaptor">
	  <parameter name="class" value="hk.hku.cecid.piazza.corvus.core.main.admin.listener.PropertiesPageletAdaptor" />
	  <parameter name="context" value="/main/jvmprops" />
	  <parameter name="module" value="main" />
	  <parameter name="tab" value="jvmprops" />
	  <parameter name="center" value="main.properties" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.httpd.listener" name="Core Properties Pagelet Adaptor">
	  <parameter name="class" value="hk.hku.cecid.piazza.corvus.core.main.admin.listener.CorePropertiesPageletAdaptor" />
	  <parameter name="context" value="/main/coreprops" />
	  <parameter name="module" value="main" />
	  <parameter name="tab" value="coreprops" />
	  <parameter name="center" value="main.properties" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.httpd.listener" name="HTTP Dispatcher Pagelet Adaptor">
	  <parameter name="class" value="hk.hku.cecid.piazza.corvus.core.main.admin.listener.HttpdPageletAdaptor" />
	  <parameter name="context" value="/main/httpd" />
	  <parameter name="module" value="main" />
	  <parameter name="tab" value="httpd" />
	  <parameter name="center" value="main.httpd" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.httpd.listener" name="Plugin Registry Pagelet Adaptor">
	  <parameter name="class" value="hk.hku.cecid.piazza.corvus.core.main.admin.listener.PluginRegistryPageletAdaptor" />
	  <parameter name="context" value="/main/plugins" />
	  <parameter name="module" value="main" />
	  <parameter name="tab" value="plugins" />
	  <parameter name="center" value="main.plugins" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.httpd.listener" name="System Hierarchy Pagelet Adaptor">
	  <parameter name="class" value="hk.hku.cecid.piazza.corvus.core.main.admin.listener.ModuleInfoPageletAdaptor" />
	  <parameter name="context" value="/main/modules" />
	  <parameter name="module" value="main" />
	  <parameter name="tab" value="modules" />
	  <parameter name="center" value="main.modules" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.httpd.listener" name="Listener Ports Pagelet Adaptor">
	  <parameter name="class" value="hk.hku.cecid.piazza.corvus.core.main.admin.listener.ListenerPortsPageletAdaptor" />
	  <parameter name="context" value="/main/listenerports" />
	  <parameter name="module" value="main" />
	  <parameter name="tab" value="listenerports" />
	  <parameter name="center" value="main.listenerports" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.httpd.listener" name="Certificate Health Pagelet Adaptor">
	  <parameter name="class" value="hk.hku.cecid.piazza.corvus.core.main.admin.listener.CertificateHealthPageletAdaptor" />
	  <parameter name="context" value="/main/certificates" />
	  <parameter name="module" value="main" />
	  <parameter name="tab" value="certificates" />
	  <parameter name="center" value="main.certificates" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.httpd.listener" name="Certificate Authority Pagelet Adaptor">
	  <parameter name="class" value="hk.hku.cecid.piazza.corvus.core.main.admin.listener.CertificateAuthorityPageletAdaptor" />
	  <parameter name="context" value="/main/ca" />
	  <parameter name="module" value="main" />
	  <parameter name="tab" value="ca" />
	  <parameter name="center" value="main.ca" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.core.httpd.listener" name="CA CRL Listener">
	  <parameter name="class" value="hk.hku.cecid.piazza.corvus.core.main.admin.listener.CaCrlListener" />
	  <parameter name="context" value="/ca/crl" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.pagelet" name="Properties Pagelet">
	  <parameter name="id" value="main.properties" />
	  <parameter name="pagelet" value="hk/hku/cecid/piazza/corvus/core/main/admin/ui/properties.xsl" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.pagelet" name="HTTP Dispatcher Pagelet">
	  <parameter name="id" value="main.httpd" />
	  <parameter name="pagelet" value="hk/hku/cecid/piazza/corvus/core/main/admin/ui/httpd.xsl" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.pagelet" name="Plugin Registry Pagelet">
	  <parameter name="id" value="main.plugins" />
	  <parameter name="pagelet" value="hk/hku/cecid/piazza/corvus/core/main/admin/ui/plugins.xsl" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.pagelet" name="Module Information Pagelet">
	  <parameter name="id" value="main.modules" />
	  <parameter name="pagelet" value="hk/hku/cecid/piazza/corvus/core/main/admin/ui/modules.xsl" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.pagelet" name="Listener Ports Pagelet">
	  <parameter name="id" value="main.listenerports" />
	  <parameter name="pagelet" value="hk/hku/cecid/piazza/corvus/core/main/admin/ui/listener_ports.xsl" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.pagelet" name="Certificate Health Pagelet">
	  <parameter name="id" value="main.certificates" />
	  <parameter name="pagelet" value="hk/hku/cecid/piazza/corvus/core/main/admin/ui/certificates.xsl" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.pagelet" name="Certificate Authority Pagelet">
	  <parameter name="id" value="main.ca" />
	  <parameter name="pagelet" value="hk/hku/cecid/piazza/corvus/core/main/admin/ui/certificate_authority.xsl" />
	</extension>

	<!-- Access: console users and access levels -->
	<extension point="hk.hku.cecid.piazza.corvus.admin.httpd.filter" name="Access Control Filter">
	  <parameter name="class" value="hk.hku.cecid.piazza.corvus.core.main.admin.access.AccessControlFilter" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.httpd.listener" name="Users Pagelet Adaptor">
	  <parameter name="class" value="hk.hku.cecid.piazza.corvus.core.main.admin.access.UsersPageletAdaptor" />
	  <parameter name="context" value="/access/users" />
	  <parameter name="module" value="access" />
	  <parameter name="tab" value="users" />
	  <parameter name="center" value="access.users" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.httpd.listener" name="Account Pagelet Adaptor">
	  <parameter name="class" value="hk.hku.cecid.piazza.corvus.core.main.admin.access.AccountPageletAdaptor" />
	  <parameter name="context" value="/access/account" />
	  <parameter name="module" value="access" />
	  <parameter name="tab" value="account" />
	  <parameter name="center" value="access.account" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.httpd.listener" name="Sign-in Adaptor">
	  <parameter name="class" value="hk.hku.cecid.piazza.corvus.core.main.admin.access.SignInAdaptor" />
	  <parameter name="context" value="/login" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.httpd.listener" name="Sign-out Adaptor">
	  <parameter name="class" value="hk.hku.cecid.piazza.corvus.core.main.admin.access.SignOutAdaptor" />
	  <parameter name="context" value="/logout" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.httpd.listener" name="Security Settings Pagelet Adaptor">
	  <parameter name="class" value="hk.hku.cecid.piazza.corvus.core.main.admin.access.SecuritySettingsPageletAdaptor" />
	  <parameter name="context" value="/access/security" />
	  <parameter name="module" value="access" />
	  <parameter name="tab" value="security" />
	  <parameter name="center" value="access.security" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.httpd.listener" name="Audit Log Pagelet Adaptor">
	  <parameter name="class" value="hk.hku.cecid.piazza.corvus.core.main.admin.access.AuditLogPageletAdaptor" />
	  <parameter name="context" value="/access/audit" />
	  <parameter name="module" value="access" />
	  <parameter name="tab" value="audit" />
	  <parameter name="center" value="access.audit" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.httpd.listener" name="Audit Log Export Adaptor">
	  <parameter name="class" value="hk.hku.cecid.piazza.corvus.core.main.admin.access.AuditExportAdaptor" />
	  <parameter name="context" value="/access/audit_export" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.httpd.listener" name="HTTPS Certificate Pagelet Adaptor">
	  <parameter name="class" value="hk.hku.cecid.piazza.corvus.core.main.admin.access.TlsPageletAdaptor" />
	  <parameter name="context" value="/main/tls" />
	  <parameter name="module" value="main" />
	  <parameter name="tab" value="tls" />
	  <parameter name="center" value="main.tls" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.httpd.listener" name="Who Am I Adaptor">
	  <parameter name="class" value="hk.hku.cecid.piazza.corvus.core.main.admin.access.WhoAmIAdaptor" />
	  <parameter name="context" value="/access/whoami" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.pagelet" name="Security Settings Pagelet">
	  <parameter name="id" value="access.security" />
	  <parameter name="pagelet" value="hk/hku/cecid/piazza/corvus/core/main/admin/ui/security.xsl" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.pagelet" name="Audit Log Pagelet">
	  <parameter name="id" value="access.audit" />
	  <parameter name="pagelet" value="hk/hku/cecid/piazza/corvus/core/main/admin/ui/audit.xsl" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.pagelet" name="HTTPS Certificate Pagelet">
	  <parameter name="id" value="main.tls" />
	  <parameter name="pagelet" value="hk/hku/cecid/piazza/corvus/core/main/admin/ui/tls.xsl" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.pagelet" name="Users Pagelet">
	  <parameter name="id" value="access.users" />
	  <parameter name="pagelet" value="hk/hku/cecid/piazza/corvus/core/main/admin/ui/users.xsl" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.pagelet" name="Account Pagelet">
	  <parameter name="id" value="access.account" />
	  <parameter name="pagelet" value="hk/hku/cecid/piazza/corvus/core/main/admin/ui/account.xsl" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.module" name="Access Admin Module">
	  <parameter name="module" value="hk/hku/cecid/piazza/corvus/core/main/admin/conf/access-module.xml" />
	</extension>

	<extension point="hk.hku.cecid.piazza.corvus.admin.module" name="Corvus Main Admin Module">
	  <parameter name="module" value="hk/hku/cecid/piazza/corvus/core/main/admin/conf/admin-module.xml" />
	</extension>
	
</plugin>
