<?xml version="1.0" encoding="UTF-8"?>
<plugin 
   id="hk.hku.cecid.hermes.api"
   name="Piazza Corvus API Plugin"
   version="${build-date}"
   provider-name="hk.hku.cecid"
   class="hk.hku.cecid.hermes.api.spa.ApiPlugin">

    <parameters>
        <parameter name="module-group-descriptor" value="hk/hku/cecid/hermes/api/conf/api.module-group.xml"/>
    </parameters>

    <runtime>
        <library name="corvus-api.jar"/>
        <library name="conf/"/>
        <library name="commons-codec.jar"/>
    </runtime>

    <requires>
      <import plugin="hk.hku.cecid.ebms" />
      <import plugin="hk.hku.cecid.edi.as2plus" />
      <import plugin="hk.hku.cecid.piazza.corvus.admin" />
    </requires>

    <extension point="hk.hku.cecid.piazza.corvus.api.httpd.listener" name="API Plugin Greeting Listener">
        <parameter name="class" value="hk.hku.cecid.hermes.api.listener.HermesApiListener"/> 
        <parameter name="context" value="/status" />
    </extension>

    <extension point="hk.hku.cecid.piazza.corvus.api.httpd.listener" name="API Plugin Partnership Listener">
        <parameter name="class" value="hk.hku.cecid.hermes.api.listener.HermesPartnershipApiListener"/> 
        <parameter name="context" value="/partnership/*" />
    </extension>

    <extension point="hk.hku.cecid.piazza.corvus.api.httpd.listener" name="API Plugin Message Send Listener">
        <parameter name="class" value="hk.hku.cecid.hermes.api.listener.HermesMessageSendApiListener"/> 
        <parameter name="context" value="/message/send/*" />
    </extension>

    <extension point="hk.hku.cecid.piazza.corvus.api.httpd.listener" name="API Plugin Message Receive Listener">
        <parameter name="class" value="hk.hku.cecid.hermes.api.listener.HermesMessageReceiveApiListener"/> 
        <parameter name="context" value="/message/receive/*" />
    </extension>

    <extension point="hk.hku.cecid.piazza.corvus.api.httpd.listener" name="API Plugin Message Redownload Listener">
        <parameter name="class" value="hk.hku.cecid.hermes.api.listener.HermesMessageRedownloadApiListener"/> 
        <parameter name="context" value="/message/redownload/*" />
    </extension>

    <extension point="hk.hku.cecid.piazza.corvus.api.httpd.listener" name="API Plugin Message History Listener">
        <parameter name="class" value="hk.hku.cecid.hermes.api.listener.HermesMessageHistoryApiListener"/>
        <parameter name="context" value="/message/history/*" />
    </extension>

    <extension point="hk.hku.cecid.piazza.corvus.admin.httpd.listener" name="API Overview Pagelet Adaptor">
      <parameter name="class" value="hk.hku.cecid.hermes.api.admin.listener.ApiOverviewPageletAdaptor" />
      <parameter name="context" value="/api/overview" />
      <parameter name="module" value="api" />
      <parameter name="tab" value="overview" />
      <parameter name="center" value="api.overview" />
    </extension>

    <extension point="hk.hku.cecid.piazza.corvus.admin.pagelet" name="API Overview Pagelet">
      <parameter name="id" value="api.overview" />
      <parameter name="pagelet" value="hk/hku/cecid/hermes/api/admin/ui/overview.xsl" />
    </extension>

    <extension point="hk.hku.cecid.piazza.corvus.admin.httpd.listener" name="API Keys Pagelet Adaptor">
      <parameter name="class" value="hk.hku.cecid.hermes.api.admin.listener.ApiKeyPageletAdaptor" />
      <parameter name="context" value="/api/keys" />
      <parameter name="module" value="api" />
      <parameter name="tab" value="keys" />
      <parameter name="center" value="api.keys" />
    </extension>

    <extension point="hk.hku.cecid.piazza.corvus.admin.pagelet" name="API Keys Pagelet">
      <parameter name="id" value="api.keys" />
      <parameter name="pagelet" value="hk/hku/cecid/hermes/api/admin/ui/keys.xsl" />
    </extension>

    <extension point="hk.hku.cecid.piazza.corvus.admin.module" name="Web Service API Admin Module">
      <parameter name="module" value="hk/hku/cecid/hermes/api/admin/conf/admin-module.xml" />
    </extension>

</plugin>
